{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>Sign up</h2>
    </div>
        <div class="row">
            <div class="col-md-12">
              <p class="lead">
                  Registration is currently closed. <br><br>
                  DAI employees can log in to the system with their DAI account.
                  <br>External persons who require access can fill out this
                  <a href="https://geoserver.dainst.org/documents/6551/link"
                     target="_blank">SIGNUP</a> form and send it to <br>
                     geoserv [*at-sign*] dainst.org.</p>
            </div>
        </div>
{% endblock %}

{% block extra_script %}
{% endblock %}