{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>Sign up</h2>
    </div>
        <div class="row">
            <div class="col-md-12">
              <p class="lead">
                  Self-service registration for this service is no longer available. <br><br>
                  If you are a DAI employee, then you can log into the system with your DAI user credentials.
                  <br>Otherwise, please fill in this <a href="https://geoserver.dainst.org/documents/6556/link"
                  target="_blank">SIGNUP form</a> and send it to geoserv[*at-sign*]dainst.org.</p>
            </div>
        </div>
{% endblock %}

{% block extra_script %}
{% endblock %}